<div class="jumbotron">
  <div class="container">
    <h1 class='text-center'>Online Courses</h1>
    <p>Welcome to XXXXXX!</p>
    <p>In this place, you will learn everything you need about the best programming languages!</p>
  </div>
</div>
